body {
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial,
    "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
  background-color: black;
  color: white;
  display: flex;
  gap: 5px;
  /* padding-bottom: -1px; */
}
body::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes zoomAndDisappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2000);
    opacity: 1;
  }
}
.startUpDiv {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: invert();
}

.startUpImg {
  height: 100px;
  width: 330px;
  animation: zoomAndDisappear 5s ease-in 0.7s forwards;
  /* transition-delay: 0.5s; */
}
button {
  cursor: pointer;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
}
.rightContainer {
  margin-top: 5px;
  background-color: #121212;
  height: 98.8vh;
  width: 100%;
  border-radius: 8px;
  flex-direction: column;
}
.homeSearch {
  background-color: #121212;
  border-radius: 8px;
  max-height: 250px;
  margin: 5px;
  padding: 10px;
}
p {
  font-size: 15px;
  color: #7c7c7a;
}
p:hover {
  color: white;
}
.homeDiv {
  cursor: pointer;
  margin-top: 15px;
  gap: 10px;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
}
.searchDiv {
  cursor: pointer;
  margin-top: 15px;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
}
.spotifyIcon {
  filter: invert(1);
  cursor: pointer;
  height: 25px;
  width: 85px;
}
.closeBTN {
  display: none;
  height: 30px;
  width: 30px;
  filter: invert();
  transition: all ease-in 0.5s;
  transform: scale(1.3);
}
.iconPNG {
  filter: invert(1);
  height: 30px;
  width: 30px;
}
.library {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  border-radius: 8px;
  margin: 5px;
  height: 100%;
  overflow: scroll;
}
.library::-webkit-scrollbar {
  display: none;
}
.iconPNG1 {
  position: absolute;
  top: 15px;
  right: 0;
  filter: invert(1);
  height: 30px;
  width: 30px;
}
.libDiv {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  display: flex;
  font-weight: bold;
  padding: 10px;
}
.songList {
  max-height: 60%;
  overflow: auto;
  font-size: 10px;
  width: 250px;
}
.songList::-webkit-scrollbar {
  display: none;
  background-color: #6a6969;
  width: 12px;
}
.songList > ul {
  width: 100%;
  padding: 0px 15px;
  height: 100%;
}
.songList > ul > li {
  margin: 5px 0;
  border: 1px solid #7c7c7a;
  border-radius: 5px;
  list-style-type: decimal;
  padding: 2px;
  filter: invert();
  color: #3d3d3b;
  display: flex;
  /* justify-content: space-; */
  align-items: center;
  cursor: pointer;
  gap: 2px;
}
.songInfo {
  gap: 10px;
  width: 60%;
  font-size: 9px;
  margin-left: 3px;
}
.playNow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.playNow > span {
  min-width: 70px;
}
.footer {
  gap: 10px;
  padding: 10px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 40px;
  text-align: start;
}
a {
  text-decoration: none;
  color: #7c7c7a;
  font-size: 8px;
  display: inline;
  bottom: 0px;
}
.langDiv {
  display: flex;
  flex-direction: row;
}
.iconPNG2 {
  filter: invert(1);
  height: 16px;
  width: 20px;
}
#langBTN {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #7c7c7a;
  align-items: center;
  padding: 5px 14px 5px 13px;
  border-radius: 15px;
}
#langBTN:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 2px 1px;
}
.headDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0a0a0a;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 34px;
}
.hamberger_div {
  display: none;
}
.iconPNG3 {
  padding: 8px 0px 0px 25px;
  filter: invert(1);
  height: 50px;
  width: 50px;
}
.iconPNG4 {
  padding: 8px 0px 0px 0px;
  filter: invert(1);
  height: 50px;
  width: 50px;
}
.btnDiv {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-right: 15px;
}
.SignUpBtn {
  background-color: transparent;
  color: #7c7c7a;
  padding: 6px 10px;
  border: none;
}
.LogInBtn {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 6px 10px;
  border: 1px solid white;
  border-radius: 30px;
}
.LogInBtn:hover {
  color: black;
  transition: all ease 0.1s;
  transform: scale(1.05);
}
.cardHead {
  padding: 7px 15px 0px 10px;
  display: flex;
  justify-content: space-between;
}
.cardHead > p {
  padding-top: 5px;
  font-size: 13px;
  cursor: default;
}
.card {
  display:flex;
  gap: 20px;
  /* flex-direction: row; */
  position: relative;
  cursor: pointer;
  background-color: #1c1b1b;
  border-radius: 5px;
  padding: 8px;
  align-items: center;
  /* width: 140px;
  height: 205px; */
  /* width: 400px; */
  height: 50px;
  /* border-radius: 5px; */
}
/* .songIcon{
  color:red;
  height: 10px;

} */
.card > h4 {
  font-size: 20px;
  width: 350px;
}
.hoverImg {
  height: 25px;
  max-width: 25px;
  position: absolute;
  bottom: 70px;
  right: 12px;
  opacity: 0;
 
}
.card:hover {
  background-color: hsl(0, 0%, 14%);
  transition: all ease 0.35s;
  transform: scale(1.03);
  box-shadow: 0px 0px 5px 1px #bc7e05;
  position: relative;
  img {
    transition: all linear 0.1s;
    transform: scale(1.04);
  }
  .hoverImg {
    transition: all ease 0.4s;
    opacity: 1;
    bottom: 83px;
    z-index: 10;
  }
}
.card  img {
  width: 35px;
  height: 32px;
  filter: invert(1);
}
a:hover {
  color: white;
  transition: all ease-out 0.1s;
}
/* .card > * {
  padding-top: 5px;
} */
.card img {
  padding-top: 0px;
  border-radius: 4px;
  /* width: 100%; */
  object-fit: contain;
}
.card > p {
  font-size: 13px;
}
.cardContainer {
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  padding-left: 15px;
  padding-top: 5px;
  gap: 20px;
  flex-wrap: wrap;
  height: 70%;
  width: 97%;
  margin: 10px auto;
}
/* .websiteImgDiv{
  width: 100%;
  display: flex;
  justify-content: center;
} */
.cardContainer::-webkit-scrollbar {
  display: none;
}
.playerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 90%;
  margin: 0px auto;
  background-color: #ececec;
  border: 1px solid #cacac8;
  border-radius: 50px;
  /* text-align: center; */
  color: #7c7c7a;
  padding: 0px 35px;
  filter: invert();
  position: absolute;
  /* bottom: 0; */
}
.playerBTN:hover {
  scale: 1.1;
  border-radius: 10px;
  padding: 0px 5px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.volume_png:hover {
  scale: 1.1;
  border-radius: 5px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.volume {
  display: flex;
  height: 10px;
  align-items: center;
  border-radius: 10px;
}
.trackBar {
  position: absolute;
  bottom: 15%;
  height: 10px;
  width: 90%;
  left: 5%;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
  background-color: #ececec;
  border: 1px solid #7c7c7a;
}
.range {
  align-items: center;
  width: 80px;
  color: green;
}
.pointer {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background-color: rgb(33, 121, 253);
  position: relative;
  top: -4px;
  align-self: start;
  left: 0%;
  transition: left 0.5s;
}
.songList > ul > li > div {
  margin: 3px;
}
.volume_pointer {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 0px;
  align-self: center;
  left: 0%;
}
.volume_div {
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 200px;
  /* background-color:red; */
}
.volume_png {
  height: 20px;
  width: 20px;
}
.songName {
  padding-bottom: 1.5%;
  width: 300px;
}
#plyt {
  padding-bottom: 1.5%;
}
.timer {
  padding-bottom: 1.5%;
  width: 150px;
  text-align: center;
}
.socialDiv {
  filter: invert();
  position: absolute;
  align-items: center;
  bottom: 9px;
  right: 13px;
}
.socialDiv > * {
  padding: 5px;
  padding-top: 5px;
}
.socialDiv > a > img:hover {
  transition: all linear 0.1s;
  transform: scale(1.2);
}

.socialIcon1,
.socialIcon2,
.socialIcon3 {
  background-color: none;
  border-radius: 7px;
  /* transition: all ease-in-out .70s ; */
}

.socialIcon1 {
  transition: all ease-in-out 0.3s;
  transform: scale(1.2);
}
.socialIcon2 {
  transition: all ease-in-out 0.3s;
  transform: scale(1.2);
}
.socialIcon3 {
  transition: all ease-in-out 0.3s;
  transform: scale(1.2);
}

@media screen and (max-width: 1800px) {
  .playerDiv {
    margin: 0px auto;
    position: relative;
    bottom: -15px;
  }
}
@media screen and (max-width: 1100px) {
  .cardContainer {
    height: 50%;
  }
  .songName {
    padding-top: 5px;
    text-align: center;
  }
  .playerDiv {
    position: absolute;
    width: 50%;
    height: auto;
    right: 6.5%;
    flex-direction: column;
    bottom: 20px;
  }
  .playerDiv > * {
    margin-top: 1px;
  }
  .volume_div {
    margin-bottom: 10px;
  }
  .trackBar {
    position: absolute;
    bottom: 15%;
    height: 10px;
    width: 80%;
    left: 10%;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
  }
  .volume_div {
    padding: 0px 20px 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
  }
  .trackBar {
    bottom: 10%;
  }
  .player_btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .volume_png {
    margin-right: 5px;
  }
}

@media screen and (max-width: 620px) {
  .leftContainer {
    position: absolute;
    left: -460px;
    transition: all linear 0.3s;
  }
  .songName {
    padding-top: 5px;
    text-align: center;
    width: 200px;
  }
  .spotify {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .closeBTN {
    display: block;
  }
  .hamberger_div {
    display: block;
    align-content: center;
    width: 70px;
    filter: invert(1);
    padding-left: 10px;
  }
  
  .playerDiv {
    height: auto;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .rightContainer {
    height: 100%;
  }
  .hamberger_png{
    width: 33px;
  }
  .songName {
    padding-top: 5px;
    text-align: center;
  }
  .cardContainer {
    display: flex;
    justify-content: center;
    height: 70%;
    scroll-behavior: smooth;
  }
  .hoverImg {
    height: 50px;
    max-width: 50px;
    position: absolute;
    bottom: 10px;
    top: 280px;
    right: 20px;
    opacity: 0;
  }

  .songList > ul > li > div:nth-child(3) {
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: #ececec;
    height: 50px;
  }
  .card {

    margin-bottom: -6px;
    /* width: 255px;
    height: 362px; */
    gap: 10px;
    max-width: 415px;
  }
  .card > h4 {
    font-size: 30px;
  }
  .card > p {
    margin-top: 5px;
    font-size: 18px;
  }
  .songList > ul > li {
    margin: 10px 0;
    height: 55px;
    border: 1px solid #7c7c7a;
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
  }

  .songInfo {
    font-size: 16px;
  }
  .songList {
    height: 100%;
    overflow: auto;
    font-size: 10px;
    width: 100%;
  }
  /* when click on Hamberger ------------- */
  .leftContainer {
    left: -500px;
    z-index: 100;
    height: 100%;
    width: 99vw;
    transition: all linear 0.3s;
    position: fixed;
  }
  .homeSearch {
    margin-top: 10px;
    padding: 0px -10px 10px 30px;
    width: 95vw;
  }
  .library {
    width: 95vw;
    max-height: 100%;
  }
  /* ----------------------------------------------- */
  .playerDiv {
    width: 90%;
    margin: auto;
    left: 20px;
    height: auto;
    position: sticky;
    bottom: 0%;
  }
}
